footer {
  padding: 80px 0;
  background: #414141;
  color: #F0EEDE;
  font-size: 18px;
  line-height: 24px;
}
footer .box-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  opacity: 0.8;
  max-width: 664px;
}
footer .box-text p {
  margin: 0 0 10px;
}
footer .box-text p:last-child {
  margin: 0;
}

.copyright {
  font-weight: 500;
}

.description-company-small {
  font-size: 15px;
  color: #F0EEDE;
  opacity: 0.7;
  margin: 10px 0 32px;
  font-weight: normal;
}

.list-documents {
  font-weight: 500;
}
.list-documents li {
  margin: 0 0 20px;
}
.list-documents li:last-child {
  margin: 0;
}
.list-documents a {
  color: #F0EEDE;
}
.list-documents a:hover {
  color: #fff;
}

.legal-information {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
}

.nav-menu {
  width: 100%;
}

.menu {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

.menu-footer {
  -moz-column-count: 2;
       column-count: 2;
}
.menu-footer li {
  margin: 0 0 35px;
}
.menu-footer li:last-child {
  margin: 0;
}
.menu-footer li a {
  color: #F0EEDE;
}
.menu-footer li a:hover {
  color: #fff;
}

.footer-contacts {
  max-width: 420px;
  min-width: 420px;
  width: 100%;
}

.contact-link {
  display: flex;
  align-items: flex-start;
  color: #F0EEDE;
  margin: 0 0 24px;
  font-weight: 500;
}
.contact-link:last-child {
  margin: 0;
}
.contact-link__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 10px 0 0;
  fill: #F0EEDE;
}

.phone-link {
  font-size: 28px;
  align-items: center;
}
.phone-link:hover {
  color: #fff;
}

.mail-link:hover {
  color: #fff;
}

.schedule-text {
  display: block;
  font-weight: 300;
  font-size: 16px;
  margin: 8px 0 0;
}

.list-messenger {
  display: flex;
  align-items: flex-start;
}
.list-messenger li {
  margin: 0 10px 0 0;
}
.list-messenger li a {
  width: 46px;
  height: 46px;
  min-width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #F0EEDE;
  border: 1px solid #F0EEDE;
  border-radius: 50%;
  padding: 12px;
}
.list-messenger li a:hover {
  background: #F0EEDE;
  fill: #414141;
  border: 1px solid #414141;
  transition: 0.3s ease;
}
.list-messenger li:last-child {
  margin: 0;
}

.btn-callback {
  margin: 32px 0 0;
  max-width: 347px;
}