@charset "UTF-8";
.home-section {
  background: #FAF9F2;
  padding: 40px 0;
}

.home-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-slider {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 42px 42px 80px;
}
.home-slider .slick-list {
  height: 100%;
}
.home-slider .slick-track {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.home-slider .slick-slide {
  height: auto;
}
.home-slider__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 176px;
  height: 176px;
  margin: 0 0 38px;
}
.home-slider__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-slider .box-text {
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 22px 0;
}
.home-slider .btn-group {
  margin: auto 0 0;
}
.home-slider__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.why-us-content {
  width: 100%;
  height: 100%;
  background: #FAF9F2;
  padding: 42px;
}
.why-us-content__head {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 0 68px;
}
.why-us-content__preview {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.why-us-content__preview-item {
  border-radius: 50%;
  overflow: hidden;
  width: 116px;
  height: 116px;
  min-width: 116px;
  margin: 0 12px 0 0;
}
.why-us-content__preview-item:last-child {
  margin: 0;
}
.why-us-content__preview-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why-us-slider__item {
  width: 100%;
}
.why-us-slider h3 {
  margin: 20px 0 26px;
  max-width: 500px;
  width: 100%;
}
.why-us-slider .box-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.subtitle-information {
  width: 100%;
  max-width: 426px;
  width: 100%;
  padding: 0 0 16px;
  border-bottom: 1px solid #ABABAB;
  font-size: 15px;
  font-weight: 500;
  color: rgba(65, 65, 65, 0.6);
}

.why-us-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-us-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-section {
  margin: 140px 0 150px;
}

.btn-all-services {
  margin: 32px auto 0;
  max-width: 387px;
  width: 100%;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.services-card {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #FAF9F2;
}
.services-card .btn-group {
  margin: auto 0 0;
  width: 100%;
}
.services-card__img {
  width: 100%;
  height: 396px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-card .price {
  white-space: nowrap;
  display: none;
}
.services-card__body {
  width: 100%;
  height: calc(100% - 396px);
  padding: 18px 0 0;
  display: flex;
  flex-direction: column;
}
.services-card__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 14px;
}
.services-card__row .price {
  display: block;
}
.services-card__name {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  color: #414141;
  width: 100%;
  max-width: 250px;
}
.services-card__name:hover {
  color: #CBAA65;
}
.services-card .btn-group {
  margin: auto 0 0;
}
.services-card .box-text {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.price {
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.old-price {
  font-size: 14px;
  font-weight: normal;
  color: rgba(65, 65, 65, 0.6);
  text-decoration: line-through;
  margin: 0 0 0 12px;
}

.new-price {
  font-size: 22px;
  font-weight: 500;
  color: #D60000;
}

.sale-card {
  width: 100%;
  height: 100%;
}
.sale-card__img {
  width: 100%;
  height: 336px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.sale-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sale-card__body {
  width: 100%;
  height: calc(100% - 336px);
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
}
.sale-card__body-content {
  width: 100%;
  margin: 0 0 38px;
}
.sale-card__date {
  margin: 0 0 12px;
  padding: 5px 14px;
  font-size: 15px;
  font-weight: normal;
  color: #414141;
  line-height: 20px;
  background: #F0EEDE;
  width: -moz-fit-content;
  width: fit-content;
}
.sale-card__name {
  text-transform: uppercase;
  color: #414141;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 18px;
}
.sale-card__name:hover {
  color: #CBAA65;
}
.sale-card .box-text {
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  margin: 0 0 14px;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.sale-card .btn-group {
  margin: auto 0 0;
  width: 100%;
}

.author-section {
  background: #FAF9F2;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.author-section__bg {
  position: relative;
  z-index: 1;
  width: 655px;
}
.author-section__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.author-section__photo {
  width: 574px;
  height: 574px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  bottom: -66px;
  right: -50%;
}
.author-section__photo::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid #CBAA65;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 31px + 31px);
  height: calc(100% + 31px + 31px);
}
.author-section__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.author-section__content {
  margin: 100px 80px 100px auto;
  max-width: 830px;
  width: 100%;
}

.author-signature {
  margin: 32px 0 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.author-signature strong {
  font-weight: normal;
  display: block;
  margin: 0 0 8px;
}

.results-card {
  width: 100%;
  height: 100%;
  background: #FAF9F2;
  padding: 20px;
}
.results-card__photo {
  width: 100%;
  height: 300px !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results-card__photo img {
  flex: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.results-card__body {
  width: 100%;
  height: calc(100% - 300px);
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
}
.results-card__name {
  width: 100%;
  text-transform: uppercase;
  color: #414141;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin: 0 0 18px;
}
.results-card__name:hover {
  color: #CBAA65;
}
.results-card ul {
  margin: 0 0 20px;
}
.results-card .btn {
  margin: auto 0 0;
}

.specialists-section h2 {
  max-width: 830px;
}

.specialists-card {
  width: 100%;
  height: 100%;
}
.specialists-card__photo {
  height: 336px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.specialists-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.specialists-card__body {
  width: 100%;
  height: calc(100% - 336px);
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
}
.specialists-card__name {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #414141;
  max-width: 250px;
  width: 100%;
}
.specialists-card__name:hover {
  color: #CBAA65;
}
.specialists-card__list {
  width: 100%;
  margin: 18px 0 16px;
  font-weight: 300;
  font-size: 18px;
}
.specialists-card__list li {
  margin: 0 0 8px;
}
.specialists-card__list li:last-child {
  margin: 0;
}
.specialists-card__list li span {
  opacity: 0.7;
  display: inline;
  margin: 0 6px 0 0;
}
.specialists-card__list li p {
  display: inline;
}
.specialists-card .btn {
  margin: auto 0 0;
}

.certificate-section {
  background: #FAF9F2;
}
.certificate-section h2 {
  max-width: 730px;
}
.certificate-section .wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.certificate-section .wrapper-content .box-text {
  max-width: 0 0 20px;
  max-width: 575px;
  width: 100%;
}

.certificate-slider__arrows {
  margin: auto 0 0;
}
.certificate-slider__item {
  width: 100%;
  height: 416px;
  background: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.certificate-slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.callback-section {
  background: url("../img/callback-bg.png") no-repeat center;
  background-size: cover;
}
.callback-section .wrapper-content {
  max-width: 872px;
}
.callback-section .wrapper-content .box-text {
  max-width: 575px;
  width: 100%;
}
.callback-section .form {
  margin: 40px 0 0;
}

.callback-thanks {
  display: none;
  max-width: 575px;
  width: 100%;
}
.callback-thanks .box-text {
  font-weight: 300;
}
.callback-thanks .box-text strong {
  display: block;
  font-weight: normal;
}

.callback-contacts {
  margin: 76px 0 0;
}
.callback-contacts p {
  font-size: 16px;
  font-weight: 300;
}
.callback-contacts .phone-link {
  margin: 18px 0 12px;
  font-size: 20px;
  color: #414141;
}
.callback-contacts .phone-link .svg-icon {
  fill: #414141;
}
.callback-contacts .phone-link:hover {
  color: #CCA044;
}

.home-cosmetology {
  margin: 40px 0 0;
}
.home-cosmetology__wrapper {
  width: 100%;
  background: url("../img/cosmetology-home-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 62px;
  margin: 0 0 34px;
}
.home-cosmetology__content {
  max-width: 740px;
  width: 100%;
}
.home-cosmetology h1 {
  margin: 0 0 22px;
}
.home-cosmetology .box-text {
  margin: 20px 0 160px;
  font-size: 20px;
  line-height: 28px;
}
.home-cosmetology .price {
  margin: 0 0 32px;
}
.home-cosmetology .new-price {
  line-height: 44px;
  font-size: 38px;
}
.home-cosmetology .old-price {
  line-height: 44px;
  font-size: 20px;
  margin: 0 0 0 12px;
}

.navigation-services {
  margin: 0 0 100px;
}

.navigation-services-menu {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.navigation-services-menu li {
  margin: 0 12px 12px 0;
}
.navigation-services-menu li:last-child {
  margin: 0;
}
.navigation-services-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D6D6D6;
  border-radius: 60px;
  padding: 14px 46px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #414141;
}
.navigation-services-menu li a:hover {
  color: #fff;
  background: #414141;
}

.about-services {
  margin: 0 0 150px;
}
.about-services__content {
  width: 100%;
}
.about-services__img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-services__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.table-prices th:first-child, .table-prices td:first-child {
  width: 37%;
}
.table-prices th:nth-child(2), .table-prices td:nth-child(2) {
  width: 30%;
}
.table-prices .price {
  font-weight: 600;
}
.table-prices .new-price {
  font-size: 18px;
}
.table-prices .old-price {
  margin: 0 0 0 6px;
}
.table-prices h4 {
  text-align: center;
  margin: 0;
  text-transform: none;
}
.table-prices .table-subtitle {
  background: #F2F2F2;
  text-align: center;
}
.table-prices .table-subtitle p {
  margin: 12px auto 0;
}
.table-prices .table-subtitle td {
  padding: 18px;
}

.table-prices-v2 tbody tr {
  background: #FAF9F2;
}
.table-prices-v2 tbody tr.bg-white {
  background: #fff;
}
.table-prices-v2 tbody tr.table-subtitle {
  background: #F2F2F2;
}

.table-services th, .table-services td {
  width: 50%;
}
.table-services td {
  padding: 12px 24px;
}

.check-box {
  display: flex;
  align-items: center;
}
.check-box::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 10px 0 0;
  background: url("../img/check-indicator.svg") no-repeat center;
  background-size: 100%;
}

.nocheck-box::before {
  background: url("../img/nocheck-indicator.svg") no-repeat center;
  background-size: 100%;
}

.blockquote-services {
  width: 100%;
  padding: 42px;
  background: #FAF9F2;
  margin: 24px 0 0;
}
.blockquote-services .box-text {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
}
.blockquote-services .box-text::before {
  content: "“";
  opacity: 0.2;
  color: #414141;
  width: 29px;
  height: 34px;
  font-size: 78px;
  line-height: 34px;
  font-family: "CormorantGaramond", sans-serif;
  font-weight: bold;
  margin: 2px 6px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockquote-author {
  margin: 32px 0 0;
  display: flex;
  align-items: center;
}
.blockquote-author__photo {
  border-radius: 50%;
  overflow: hidden;
  width: 56px;
  height: 56px;
  min-width: 56px;
  margin: 0 8px 0 0;
}
.blockquote-author__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
.blockquote-author__text strong {
  display: block;
  font-weight: normal;
  margin: 0 0 8px;
}

.btn-all-prices {
  max-width: 347px;
  margin: 32px auto 0;
}

.attention-info {
  max-width: 1158px;
  width: 100%;
  margin: 24px 0 0;
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  padding: 0 0 0 38px;
}
.attention-info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: url("../img/attention-icon.svg") no-repeat center;
  background-size: 100%;
}

.quesion-section .panel_heading {
  min-height: 144px;
  margin: 0;
}
.quesion-section .panel_heading h3 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
}

.video-gallery-slider__item {
  width: 100%;
  height: 100%;
  background: #FAF9F2;
  padding: 18px;
  position: relative;
  z-index: 1;
}
.video-gallery-slider__item::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 78px;
  height: 58px;
  background: url("../img/play-icon.svg") no-repeat center;
  background-size: 100%;
}
.video-gallery-slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-order-certificate {
  margin: 36px 0 0;
  max-width: 347px;
}

.referral-services {
  margin: 0 0 150px;
}

.referral-services-card {
  width: 100%;
  height: 100%;
  padding: 34px;
  background: #FAF9F2;
}
.referral-services-card__head {
  width: 100%;
  display: flex;
  align-items: center;
}
.referral-services-card__photo {
  width: 120px;
  height: 120px;
  min-width: 120px;
  margin: 0 28px 0 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.referral-services-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.referral-services-card h3 {
  max-width: 350px;
  margin: 0;
}
.referral-services-card__body {
  margin: 40px 0 0;
  width: 100%;
}

.referral-services-card-v2 {
  padding: 24px;
}
.referral-services-card-v2 .referral-services-card__head {
  flex-direction: column;
  align-items: flex-start;
}
.referral-services-card-v2 .referral-services-card__photo {
  margin: 0 0 18px;
  width: 80px;
  height: 80px;
  min-width: 80px;
}

.list-referral-services {
  width: 100%;
  -moz-column-count: 2;
       column-count: 2;
  font-size: 20px;
  line-height: 26px;
}
.list-referral-services li {
  margin: 0 0 20px;
}
.list-referral-services li:last-child {
  margin: 0;
}
.list-referral-services a {
  display: flex;
  align-items: center;
  color: rgba(65, 65, 65, 0.8);
}
.list-referral-services a .svg-icon {
  margin: 0 0 0 10px;
  width: 26px;
  height: 26px;
  min-width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #CBAA65;
  transition: 0.3s ease;
}
.list-referral-services a:hover {
  color: #414141;
}
.list-referral-services a:hover .svg-icon {
  transform: rotate(45deg);
}
.list-referral-services .link-all-services {
  color: #CBAA65;
}
.list-referral-services .link-all-services span {
  text-decoration: underline;
}
.list-referral-services.column-count-1 {
  -moz-column-count: 1;
       column-count: 1;
}

.map-wrapper {
  width: 100%;
  height: 588px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-wrapper iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-map img {
  margin: 0 10px 0 0;
}

.contacts-wrapper {
  width: 100%;
  background: #FAF9F2;
  padding: 32px;
}
.contacts-wrapper__head {
  display: flex;
  align-items: center;
  margin: 0 0 26px;
  width: 100%;
}
.contacts-wrapper__avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  min-width: 120px;
  margin: 0 28px 0 0;
}
.contacts-wrapper__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts-wrapper h3 {
  margin: 0;
}
.contacts-wrapper__body {
  width: 100%;
}
.contacts-wrapper .btn-group {
  margin: 32px 0 0;
}

.contacts-box {
  width: 100%;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #E4E4E4;
  font-size: 18px;
}
.contacts-box:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.contacts-box__head {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 14px;
  opacity: 0.6;
}
.contacts-box__head .svg-icon {
  fill: #414141;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 8px 0 0;
}
.contacts-box__body {
  width: 100%;
  font-size: 20px;
  line-height: 26px;
}
.contacts-box__body a {
  color: #414141;
  font-weight: 600;
}
.contacts-box__body a:hover {
  color: #CBAA65;
}
.contacts-box__body .phone-link {
  font-size: 26px;
  line-height: 36px;
}

.list-messenger-black li a {
  border-color: #414141;
  fill: #414141;
}

.requisites-box {
  width: 100%;
  margin: 18px 0 0;
  padding: 32px;
  background: #F0EEDE;
}

.list-requisites-nav {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0 0;
}
.list-requisites-nav li {
  margin: 0 18px 0 0;
}
.list-requisites-nav li:last-child {
  margin: 0;
}
.list-requisites-nav li a {
  text-decoration: underline;
  color: #414141;
  opacity: 0.8;
}
.list-requisites-nav li a:hover {
  color: #CBAA65;
}

.link-requisites {
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  color: #414141;
}
.link-requisites:hover {
  color: #CBAA65;
}
.link-requisites img {
  width: 44px;
  min-width: 44px;
  margin: 0 14px 0 0;
}
.link-requisites__size {
  display: block;
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 300;
}

.tabs-maps {
  justify-content: flex-start;
  margin: 40px 0 18px;
}
.tabs-maps li {
  margin: 0 6px 0 0;
}
.tabs-maps li .tabs-link {
  font-size: 18px;
  font-weight: 300;
  height: 54px;
  border: 1px solid #D6D6D6;
  background: #FAF9F2;
  min-width: 231px;
}
.tabs-maps li.active .tabs-link {
  background: #F0EEDE;
}

.directions-map {
  width: 100%;
}
.directions-map img {
  width: 100%;
}

.directions-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FAF9F2;
  padding: 32px;
}
.directions-box .video-gallery-slider__item {
  padding: 0;
}
.directions-box .box-text {
  margin: 0 0 28px;
}

.yandex-taxi {
  margin: auto 0 0;
}

.list-filter-prices {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.list-filter-prices__item {
  margin: 0 12px 12px 0;
  display: none;
}
.list-filter-prices__item:last-child {
  margin: 0;
}
.list-filter-prices__item:nth-child(-n+11) {
  display: block;
}
.list-filter-prices__link {
  border: 1px solid #D6D6D6;
  border-radius: 60px;
  padding: 14px 46px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #414141;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-filter-prices__link:hover {
  color: #fff;
  background: #414141;
}
.list-filter-prices__link.active {
  color: #fff;
  background: #CBAA65;
}

.btn-toggle-filter-prices {
  border: 1px solid #CBAA65;
  background: #FAF9F2;
  border-radius: 60px;
  padding: 14px 46px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #CBAA65;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-toggle-filter-prices:hover {
  color: #fff;
  background: #CBAA65;
}
.btn-toggle-filter-prices:after {
  width: 46px;
  height: 46px;
}

.panel_heading-price {
  margin: 18px 0 0;
}
.panel_heading-price:first-child {
  margin: 0;
}
.panel_heading-price h3 {
  margin: 0;
}
.panel_heading-price .block_title {
  align-items: center;
  padding: 24px 80px 24px 24px;
}
.panel_heading-price .block_title:after {
  width: 46px;
  height: 46px;
  min-width: 46px;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  position: absolute;
  background-size: 24px;
}
.panel_heading-price .block_title .box-text {
  max-width: 1360px;
}
.panel_heading-price .block_title:hover:after {
  transform: translateY(-50%) rotate(45deg);
}
.panel_heading-price.in {
  background: #F0EEDE;
  border-color: transparent;
}
.panel_heading-price.in .block_title:after {
  background: #CBAA65 url("../img/accordeon-arrow-white.svg") no-repeat center;
  background-size: 30px;
  transform: translateY(-50%) rotate(95deg);
}
.panel_heading-price.in .block_title:hover::after {
  transform: translateY(-50%) rotate(95deg);
}
.panel_heading-price .block_hover {
  padding: 0;
}
.panel_heading-price thead {
  background: #F9F9F9;
}
.panel_heading-price th {
  padding: 11px 24px;
  color: rgba(65, 65, 65, 0.7);
}

.sale-label {
  color: #fff;
  background: #D60000;
  border-radius: 60px;
  margin: 0 0 0 10px;
  padding: 4px 14px;
  font-size: 15px;
  font-weight: 500;
}

.home-shop .home-cosmetology__wrapper {
  background: url("../img/shop-bg.jpg") no-repeat center;
  background-size: cover;
}

.box-text-description {
  max-width: 1165px;
  font-size: 18px;
  font-weight: 300;
}

.section-shop {
  margin: 70px 0 150px;
}

.quantity-goods {
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 30px;
  vertical-align: top;
  opacity: 0.6;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  text-transform: none;
}

.filter-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 0 20px;
}
.filter-wrapper .select-my {
  min-width: auto;
}

.shop-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sidebar {
  max-width: 340px;
  width: 100%;
}

.shop-content {
  width: calc(100% - 340px);
  padding: 0 0 0 32px;
}

.product-card {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.product-card__img {
  width: 100%;
  height: 388px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 16px;
  background: url("../img/product-bg.jpg") no-repeat center;
  background-size: cover;
}
.product-card__img img {
  max-height: 100%;
  filter: drop-shadow(22px 0.13px 21px rgba(51, 39, 7, 0.4));
}
.product-card__body {
  width: 100%;
  height: calc(100% - 388px);
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
}
.product-card__title {
  margin: 8px 0;
  color: #414141;
}
.product-card__title:hover {
  color: #CBAA65;
}
.product-card__brand {
  font-size: 15px;
  line-height: 18px;
  color: #414141;
  opacity: 0.7;
}
.product-card .price {
  margin: 0 0 12px;
}
.product-card__article {
  font-size: 14px;
  opacity: 0.7;
  margin: auto 0 0;
}
.product-card__rating {
  margin: 12px 0 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.product-card__rating .svg-icon {
  margin: 0 8px 0 0;
  width: 20px;
  height: 20px;
  min-width: 20px;
}
.product-card .btn-in-basket {
  padding: 15px 60px;
}

.btn-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 16px;
  width: 34px;
  height: 34px;
  fill: #414141;
}
.btn-favorite:hover {
  fill: #CBAA65;
}

.list-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  z-index: 2;
  left: 16px;
  top: 16px;
  font-size: 16px;
  font-weight: 500;
}
.list-labels li {
  margin: 0 0 8px;
}
.list-labels li:last-child {
  margin: 0;
}

.list-label__item {
  padding: 6px 20px;
  color: #fff;
}
.list-label__item:hover {
  color: #fff;
}