.home-section {
  background: #FAF9F2;
  padding: 40px 0;
}

.specialists-section h2 {
  margin: 0;
  max-width: 830px;
}

.specialists-slider__arrows {
  margin: 0 0 0 auto;
  justify-content: flex-end;
}
.specialists-slider .slick-list {
  margin: 0 -9px;
}
.specialists-slider .slick-track {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.specialists-slider .slick-slide {
  padding: 0 9px;
  height: auto;
}

.specialists-card {
  width: 100%;
  height: 100%;
}
.specialists-card__photo {
  height: 336px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.specialists-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.specialists-card__photo.radius-50 {
  border-radius: 50%;
}
.specialists-card__body {
  width: 100%;
  height: calc(100% - 336px);
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
}
.specialists-card__name {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #414141;
  max-width: 250px;
  width: 100%;
}
.specialists-card__name:hover {
  color: #CBAA65;
}
.specialists-card__list {
  width: 100%;
  margin: 18px 0 16px;
  font-weight: 300;
  font-size: 18px;
}
.specialists-card__list li {
  margin: 0 0 8px;
}
.specialists-card__list li:last-child {
  margin: 0;
}
.specialists-card__list li span {
  opacity: 0.7;
  display: inline;
  margin: 0 6px 0 0;
}
.specialists-card__list li p {
  display: inline;
}
.specialists-card .btn {
  margin: auto 0 0;
}

.certificate-section {
  background: #FAF9F2;
}
.certificate-section h2 {
  max-width: 730px;
}
.certificate-section .wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.certificate-section .wrapper-content .box-text {
  max-width: 0 0 20px;
  max-width: 575px;
  width: 100%;
}

.certificate-slider__arrows {
  margin: auto 0 0;
}
.certificate-slider .slick-list {
  margin: 0 -9px;
}
.certificate-slider .slick-track {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.certificate-slider .slick-slide {
  padding: 0 9px;
  height: auto;
}
.certificate-slider__item {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callback-section {
  background: url("../img/callback-bg.jpg") no-repeat center;
  background-size: cover;
}
.callback-section .wrapper-content .box-text {
  max-width: 575px;
  width: 100%;
}
.callback-section .form {
  margin: 40px 0 0;
}