/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1900px) {
  .author-section__content {
    max-width: 700px;
  }
  .author-section__photo {
    width: 500px;
    height: 500px;
  }
  .author-section__bg {
    max-width: 550px;
  }
  .menu-header li .menu-link {
    font-size: 15px;
    padding: 16px 22px;
  }
  .menu-header li .menu-link__burger {
    padding: 16px 20px;
  }
  header .list-messenger, .header-contacts {
    margin: 0 0 0 30px;
  }
}
@media only screen and (max-width: 1600px) {
  .author-section__content {
    max-width: 605px;
  }
  .author-section__photo {
    width: 336px;
    height: 336px;
  }
  .author-section__bg {
    max-width: 450px;
  }
  header .list-messenger, .header-contacts {
    margin: 0 0 0 20px;
  }
  header .btn-callback {
    max-width: 225px;
  }
  .user-navigation {
    font-size: 14px;
    line-height: 18px;
  }
  .user-navigation__link {
    min-width: 73px;
  }
  .user-navigation__item {
    margin: 0 8px 0 0;
  }
  .user-navigation__item:last-child {
    margin: 0;
  }
  header .location {
    max-width: 240px;
  }
}
@media only screen and (max-width: 1450px) {
  .author-section__content {
    max-width: 550px;
  }
  .author-section__photo {
    width: 306px;
    height: 306px;
  }
  .author-section__bg {
    max-width: 400px;
  }
  h1, .h1 {
    font-size: 50px;
    line-height: normal;
  }
  .header-top {
    display: block;
  }
  .header-top .list-messenger {
    margin: 0 0 0 auto;
  }
  .header-top .location {
    font-size: 16px;
  }
  .header-top .contact-link {
    margin: 0 25px 0 0;
    opacity: 1;
  }
  .header-top .contact-link__text {
    display: flex;
    align-items: center;
  }
  .header-top .schedule-text {
    margin: 0 0 0 8px;
    font-size: 14px;
    line-height: 18px;
  }
  header .location {
    max-width: none;
  }
  .header-center .location, .header-center .list-messenger {
    display: none;
  }
  .header-center .mail-link {
    display: none;
  }
  .header-center .user-navigation {
    margin: 0 0 0 18px;
  }
  .menu-header .menu-item:nth-child(5), .menu-header .menu-item:nth-child(7), .menu-header .menu-item:nth-child(9) {
    display: none;
  }
  .header-center {
    padding: 12px 0;
  }
  .header-contacts {
    margin: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 962px;
  }
  .subtitle-text {
    margin: 0 0 12px;
  }
  .box-text {
    font-size: 16px;
  }
  h1, .h1 {
    font-size: 40px;
    line-height: 46px;
  }
  h2, .h2 {
    font-size: 34px;
    line-height: 42px;
    margin: 0 0 20px;
  }
  h3, .h3 {
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 20px;
  }
  .p-150 {
    padding: 120px 0;
  }
  .p-120 {
    padding: 80px 0;
  }
  .m-150 {
    margin: 120px 0;
  }
  .mb-40 {
    margin-bottom: 34px;
  }
  .mb-18 {
    margin-bottom: 14px;
  }
  input, textarea, select {
    height: 50px;
    padding: 0 16px;
    font-size: 16px;
  }
  form [type=submit] {
    height: 50px;
  }
  .consent {
    margin: 12px 0 0;
    font-size: 14px;
    line-height: 19px;
  }
  .callback-section .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .callback-section .wrapper-content {
    max-width: 464px;
  }
  .callback-section .form {
    margin: 34px 0 0;
  }
  footer {
    padding: 40px 0;
    font-size: 16px;
    line-height: 22px;
  }
  footer .d-pc {
    display: none;
  }
  footer .d-tablet {
    display: block;
  }
  footer .box-text {
    max-width: none;
  }
  .footer-contacts {
    min-width: 290px;
    max-width: 290px;
  }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .phone-link {
    font-size: 24px;
    line-height: 26px;
  }
  .contact-link__icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
  }
  .description-company-small {
    margin: 10px 0 26px;
    font-size: 14px;
  }
  .menu {
    font-size: 16px;
  }
  .menu-footer li {
    margin: 0 0 26px;
  }
  .menu-footer li:last-child {
    margin: 0;
  }
  .btn {
    font-size: 16px;
    line-height: normal;
    height: 50px;
    padding: 15px 10px;
  }
  .btn-group .btn {
    margin: 0 8px 0 0;
  }
  .btn-group .btn:last-child {
    margin: 0;
  }
  .btn-group-column .btn {
    margin: 0 0 8px;
  }
  .btn-group-column .btn:last-child {
    margin: 0;
  }
  .btn-md {
    height: 46px;
  }
  .btn-callback {
    margin: 26px 0 0;
  }
  .contact-link {
    margin: 0 0 22px;
  }
  .list-messenger li a {
    width: 42px;
    height: 42px;
    min-width: 42px;
    padding: 11px;
  }
  .schedule-text {
    font-size: 14px;
  }
  .reviews-section h2 {
    margin: 0 0 34px;
  }
  .certificate-slider__item {
    height: 334px;
  }
  .slider-arrows .slick-arrow {
    width: 50px;
    height: 50px;
    min-width: 50px;
  }
  .slider-arrows .slick-next {
    margin: 0 0 0 22px;
  }
  .specialists-card__photo {
    height: 224px;
  }
  .specialists-card__body {
    height: calc(100% - 224px);
    padding: 14px 0 0;
  }
  .specialists-card__name {
    font-size: 18px;
  }
  .specialists-card__list {
    font-size: 16px;
    margin: 14px 0;
  }
  .specialists-card__list li {
    margin: 0 0 6px;
  }
  .specialists-card__list li:last-child {
    margin: 0;
  }
  .results-card {
    padding: 16px;
  }
  .results-card__photo {
    height: 250px !important;
  }
  .results-card__body {
    height: calc(100% - 250px);
    padding: 16px 0 0;
  }
  .results-card__name {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 12px;
  }
  .twentytwenty-handle {
    width: 54px;
    height: 54px;
    margin-top: -27px;
    margin-left: -27px;
  }
  .twentytwenty-left-arrow, .twentytwenty-right-arrow {
    width: 12px;
    height: 19px;
  }
  .twentytwenty-left-arrow {
    left: 9px;
  }
  .twentytwenty-right-arrow {
    right: 9px;
  }
  .twentytwenty-before-label:before, .twentytwenty-after-label:before {
    font-size: 14px;
    line-height: 22px;
  }
  .twentytwenty-before-label {
    left: 14px;
  }
  .twentytwenty-after-label {
    right: 14px;
  }
  .author-section__content {
    max-width: 565px;
    margin: 40px 40px 40px auto;
  }
  .author-section__photo {
    width: 286px;
    height: 286px;
  }
  .author-section__photo::before {
    width: calc(100% + 15px + 15px);
    height: calc(100% + 15px + 15px);
  }
  .author-section__bg {
    max-width: 236px;
  }
  blockquote {
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 0 32px;
  }
  blockquote::before {
    font-size: 70px;
    line-height: 34px;
  }
  .author-signature {
    margin: 20px 0 0;
    font-size: 16px;
    line-height: 24px;
  }
  .sale-card__img {
    height: 224px;
  }
  .sale-card__body {
    height: calc(100% - 224px);
    padding: 14px 0 0;
  }
  .sale-card__body-content {
    margin: 0 0 28px;
  }
  .sale-card__date {
    font-size: 14px;
    line-height: 18px;
  }
  .sale-card__name {
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 14px;
  }
  .sale-card .box-text {
    font-size: 15px;
    line-height: 21px;
  }
  .why-us-content {
    padding: 22px;
  }
  .why-us-content__preview-item {
    width: 96px;
    height: 96px;
    min-width: 96px;
    margin: 0 8px 0 0;
  }
  .why-us-content__preview-item:last-child {
    margin: 0;
  }
  .why-us-slider h3 {
    margin: 16px 0 20px;
  }
  .subtitle-information {
    padding: 0 0 14px;
  }
  .why-us-slider .box-text {
    font-size: 16px;
    line-height: 24px;
  }
  .services-section {
    margin: 110px 0 120px;
  }
  .tabs {
    justify-content: flex-start;
  }
  .tabs li {
    margin: 0 12px 0 0;
  }
  .tabs li:last-child {
    margin: 0;
  }
  .tabs .tabs-link {
    font-size: 17px;
    padding: 4px;
  }
  .tabs .tabs-link__icon {
    width: 42px;
    height: 42px;
    min-width: 42px;
  }
  .services-card {
    width: 304px;
    min-width: 304px;
    padding: 16px;
  }
  .services-card__img {
    height: 246px;
  }
  .services-card__body {
    height: calc(100% - 246px);
    padding: 16px 0 0;
  }
  .services-card__name {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
  }
  .services-card__row {
    margin: 0 0 12px;
  }
  .services-card .box-text {
    font-size: 15px;
    line-height: 21px;
    margin: 0 0 16px;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .services-slider {
    min-width: 1200px;
  }
  .price {
    font-size: 18px;
    line-height: 26px;
  }
  .btn-all-services {
    margin: 24px auto 0;
    height: 50px;
    max-width: 268px;
  }
  .home-section {
    padding: 18px 0;
  }
  .home-slider {
    padding: 18px 18px 38px;
  }
  .home-slider__avatar {
    width: 86px;
    height: 86px;
    min-width: 86px;
    margin: 0 0 18px;
  }
  .home-slider .box-text {
    margin: 12px 0 28px;
    font-size: 17px;
    line-height: 24px;
  }
  .slick-dots {
    margin: 12px 0 0;
  }
  .slick-dots li {
    width: 8px;
    height: 8px;
    min-width: 8px;
    margin: 0 8px 0 0;
  }
  .slick-dots li:last-child {
    margin: 0;
  }
  header {
    font-size: 16px;
  }
  header .list-messenger li {
    margin: 0 8px 0 0;
  }
  header .list-messenger li:last-child {
    margin: 0;
  }
  header .list-messenger li a {
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 8px;
  }
  header .btn-callback {
    margin: 0 0 0 10px;
  }
  header .phone-link {
    font-size: 18px;
    line-height: 20px;
  }
  .logo {
    max-width: 125px;
  }
  .menu-header li .menu-link {
    padding: 16px 18px;
  }
  .dropdown-menu {
    padding: 12px;
  }
  .menu-dropdown {
    font-size: 16px;
  }
}
@media only screen and (max-width: 992px) {
  .tabs .tabs-link {
    font-size: 16px;
    min-width: 166px;
  }
  .tabs .tabs-link__icon {
    width: 36px;
    height: 36px;
    min-width: 36px;
  }
  .author-section__photo {
    display: none;
  }
  .author-section__bg {
    max-width: 206px;
  }
  .author-section__bg img.d-pc {
    display: none;
  }
  .author-section__bg img.d-none {
    display: block;
  }
  .author-section__content {
    margin: 0;
    padding: 40px;
    max-width: none;
    width: calc(100% - 206px);
  }
  .footer-contacts {
    min-width: auto;
    max-width: 282px;
  }
  .list-documents {
    margin: 0;
  }
}
@media only screen and (max-width: 920px) {
  .user-navigation__item {
    margin: 0 22px 0 0;
  }
  .user-navigation__item:last-child {
    margin: 0;
  }
  .user-navigation__link {
    min-width: auto;
    width: 22px;
  }
  .user-navigation__link svg {
    margin: 0;
  }
  .user-navigation__link span {
    display: none;
  }
  .user-navigation .svg-icon {
    margin: 0;
  }
  header {
    border-bottom: 1px solid #E6E6E6;
  }
  header .btn-callback {
    max-width: 194px;
  }
  header .phone-link {
    font-size: 16px;
    line-height: 20px;
  }
  .header-center .user-navigation {
    margin: 0 0 0 26px;
  }
  .header-center .phone-link {
    display: none;
  }
  .header-bottom {
    display: none;
  }
  .header-top .phone-link {
    display: flex;
  }
  .header-top .mail-link {
    opacity: 0.8;
    margin: 6px 0 0;
  }
  .header-top .mail-link:last-child {
    margin: 6px 0 0;
  }
  .header-top .location .contact-link__text {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-top .schedule-text {
    margin: 8px 0 0;
  }
  .header-top .contact-link {
    margin: 0 36px 0 0;
  }
  .header-top .contact-link:last-child {
    margin: 8px 0 0;
  }
  .header-top .phone-link {
    margin: 0;
  }
  .btn-burger {
    display: flex;
  }
  .contact-link__icon {
    margin: 0 8px 0 0;
  }
  .phone-link {
    font-size: 22px;
    line-height: 24px;
  }
  .contact-link {
    margin: 0 0 20px;
  }
  .contact-link:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .btn {
    height: 46px;
    padding: 13px 15px;
  }
  h1, .h1 {
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 10px;
  }
  h2, .h2 {
    font-size: 30px;
    line-height: 38px;
    margin: 0 0 30px;
  }
  h3, .h3 {
    font-size: 26px;
    line-height: 34px;
  }
  .m-0 {
    margin: 0;
  }
  .subtitle-text {
    font-size: 13px;
  }
  .subtitle-text::before {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
  }
  .home-slider {
    padding: 16px 16px 34px;
  }
  .home-slider__avatar {
    margin: 0 0 18px;
    width: 66px;
    height: 66px;
    min-width: 66px;
  }
  .home-slider .box-text {
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0 15px;
  }
  .home-slider .btn-group {
    flex-wrap: wrap;
  }
  .home-slider .btn-group .btn {
    width: 100%;
    flex: none;
    margin: 0 0 8px;
  }
  .home-slider .btn-group .btn:last-child {
    margin: 0;
  }
  .slick-dots {
    margin: 10px 0 0;
  }
  .services-section {
    margin: 90px 0 100px;
  }
  .container, .slider-stretch .slick-slide {
    padding: 0 7px;
  }
  .row, .slider-stretch .slick-list {
    margin: 0 -7px;
  }
  .col-6, .col-12, .col-5, .col-7 {
    padding: 0 7px;
  }
  .col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 7px;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 7px;
  }
  .col-md-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
    padding: 0 7px;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 7px;
  }
  .mb-40 {
    margin-bottom: 30px;
  }
  .mb-18 {
    margin-bottom: 12px;
  }
  .mb-md-10 {
    margin-bottom: 10px;
  }
  .mt-md-40 {
    margin-top: 40px;
  }
  .m-150 {
    margin: 100px 0;
  }
  .p-120 {
    padding: 60px 0;
  }
  .p-150 {
    padding: 100px 0;
  }
  .order-md-1 {
    order: 1;
  }
  .btn {
    height: 42px;
  }
  .tabs li {
    margin: 0 8px 8px 0;
  }
  .tabs li:last-child {
    margin: 0 0 8px;
  }
  .services-card {
    min-width: 220px;
    width: 220px;
    padding: 14px;
  }
  .services-card__img {
    height: 130px;
  }
  .services-card__body {
    height: calc(100% - 130px);
    padding: 14px 0 0;
  }
  .services-card .btn-group .btn {
    margin: 0 0 6px;
  }
  .services-card .btn-group .btn:last-child {
    margin: 0;
  }
  .services-card .price {
    display: block;
    margin: 8px 0 14px;
    width: 100%;
  }
  .services-card__row {
    margin: 0 0 8px;
  }
  .services-card__row .price {
    display: none;
  }
  .services-card__name {
    font-size: 17px;
    line-height: 24px;
  }
  .services-card .box-text {
    margin: 0;
    font-size: 15px;
    line-height: 21px;
  }
  .btn-all-services {
    margin: 22px auto 0;
  }
  .why-us-content {
    padding: 20px;
  }
  .why-us-content__preview-item {
    width: 76px;
    height: 76px;
    min-width: 76px;
  }
  .slider-arrows .slick-next {
    margin: 0 0 0 20px;
  }
  .slider-arrows .slick-arrow {
    width: 46px;
    height: 46px;
    min-width: 46px;
  }
  .why-us-content__head {
    margin: 0 0 48px;
  }
  .why-us-slider h3 {
    margin: 14px 0 20px;
  }
  .subtitle-information {
    max-width: 190px;
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 12px;
  }
  .sale-card__img {
    height: 220px;
  }
  .sale-card__body {
    height: calc(100% - 220px);
    padding: 12px 0 0;
  }
  .sale-card__body-content {
    margin: 0 0 14px;
  }
  .sale-card__date {
    margin: 0 0 10px;
    padding: 4px 12px;
  }
  .sale-card__name {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 12px;
  }
  .old-price {
    font-size: 13px;
    margin: 0 0 0 6px;
  }
  .results-card {
    padding: 14px;
  }
  .results-card__photo {
    height: 210px !important;
  }
  .results-card__body {
    height: calc(100% - 210px);
    padding: 14px 0 0;
  }
  .results-card__name {
    font-size: 18px;
    line-height: 24px;
  }
  .results-card ul {
    margin: 0 0 14px;
  }
  .twentytwenty-after-label, .twentytwenty-before-label {
    bottom: 12px;
  }
  .twentytwenty-after-label::before, .twentytwenty-before-label::before {
    padding: 4px 12px;
  }
  .twentytwenty-before-label {
    left: 12px;
  }
  .twentytwenty-after-label {
    right: 12px;
  }
  .twentytwenty-handle {
    width: 48px;
    height: 48px;
    margin-top: -24px;
    margin-left: -24px;
  }
  .twentytwenty-left-arrow, .twentytwenty-right-arrow {
    width: 10px;
    height: 16px;
  }
  .twentytwenty-left-arrow {
    left: 8px;
  }
  .twentytwenty-right-arrow {
    right: 8px;
  }
  .specialists-card__photo {
    height: 220px;
  }
  .specialists-card__body {
    height: calc(100% - 220px);
    padding: 12px 0 0;
  }
  .specialists-card__name {
    font-size: 17px;
    line-height: 24px;
  }
  .specialists-card__list {
    margin: 10px 0;
  }
  .certificate-section h2 {
    margin: 0 0 20px;
  }
  .certificate-section .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .certificate-section__content {
    padding: 0 20px 0 0;
  }
  .certificate-section .wrapper-content {
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }
  .certificate-slider {
    margin: 18px 0 0;
  }
  .certificate-slider__item {
    height: 328px;
  }
  .callback-section h2 {
    margin: 0 0 14px;
  }
  .callback-section form {
    margin: 30px 0 0;
  }
  .callback-section .wrapper-content {
    max-width: 407px;
  }
  input, textarea, select {
    height: 48px;
  }
  form [type=submit] {
    height: 46px;
  }
  .consent {
    margin: 10px 0 0;
  }
  .tabs-services {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }
  .tabs-services li {
    margin-bottom: 0;
  }
  .tabs-services li:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 680px) {
  .why-us-section .col-6, .why-us-section .col-7 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .why-us-img {
    height: auto;
    margin: 0 0 12px;
  }
  .why-us-content {
    padding: 18px;
  }
  .header-top .contact-link {
    margin: 0 20px 0 0;
  }
  .header-top .contact-link:last-child {
    margin: 0;
  }
  .header-top .phone-link {
    margin: 0;
  }
  .header-top .mail-link {
    margin: 8px 0 0;
  }
  .header-top .mail-link:last-child {
    margin: 8px 0 0;
  }
  header .contact-link {
    font-size: 15px;
    line-height: 19px;
  }
  header .location {
    font-size: 15px;
  }
  .header-top .schedule-text {
    font-size: 13px;
    line-height: 16px;
  }
  .btn-burger {
    width: 52px;
    height: 52px;
    min-width: 52px;
    padding: 18px 15px;
  }
  .logo {
    max-width: 113px;
  }
  .header-center .user-navigation {
    margin: 0 0 0 10px;
  }
}
@media only screen and (max-width: 576px) {
  footer {
    font-size: 15px;
    line-height: 20px;
  }
  footer .col-6, footer .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  footer .d-flex {
    flex-wrap: wrap;
  }
  footer .nav-menu {
    margin: 0 0 40px;
  }
  footer .box-text {
    font-size: 14px;
    line-height: 18px;
  }
  .menu {
    font-size: 15px;
    line-height: 20px;
  }
  .menu-footer li {
    margin: 0 0 22px;
  }
  .menu-footer li:last-child {
    margin: 0;
  }
  .phone-link {
    font-size: 20px;
    line-height: 22px;
  }
  .contact-link {
    margin: 0 0 18px;
  }
  .contact-link:last-child {
    margin: 0;
  }
  .contact-link__icon {
    width: 18px;
    height: 18px;
    min-width: 18px;
  }
  .schedule-text {
    font-size: 13px;
  }
  .list-messenger li a {
    width: 38px;
    height: 38px;
    min-width: 38px;
    padding: 10px;
  }
  .description-company-small {
    margin: 10px 0 22px;
    font-size: 13px;
  }
  .list-documents li {
    margin: 0 0 16px;
  }
  .list-documents li:last-child {
    margin: 0;
  }
  .p-150 {
    padding: 90px 0;
  }
  .mt-40 {
    margin-top: 36px;
  }
  .mb-32 {
    margin-bottom: 14px;
  }
  .mb-18 {
    margin-bottom: 10px;
  }
  .mb-40 {
    margin-bottom: 28px;
  }
  .m-150 {
    margin: 90px 0;
  }
  .col-md-8, .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  h1, .h1 {
    font-size: 32px;
    line-height: 38px;
  }
  h2, .h2 {
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 28px;
  }
  .d-none-mobile {
    display: none;
  }
  .btn {
    height: 40px;
    font-size: 15px;
    padding: 10px 15px;
  }
  .box-text {
    font-size: 15px;
    line-height: 22px;
  }
  .legal-information {
    font-size: 14px;
    line-height: 20px;
  }
  .reviews-section h2 {
    margin: 0 0 34px;
  }
  .callback-section {
    position: relative;
    z-index: 1;
    color: #fff;
  }
  .callback-section::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: #332707;
  }
  .callback-section .subtitle-text {
    color: #fff;
    opacity: 0.5;
  }
  .callback-section .subtitle-text::before {
    background: url("../img/title-decor-white.svg") no-repeat center;
    background-size: 100%;
  }
  .callback-section .wrapper-content {
    max-width: 432px;
  }
  .callback-section .form {
    margin: 28px 0 0;
  }
  input, textarea, select {
    height: 44px;
    font-size: 15px;
    line-height: 22px;
  }
  form [type=submit] {
    height: 44px;
  }
  .consent {
    font-size: 13px;
    line-height: 17px;
  }
  .certificate-section .wrapper-content {
    position: relative;
    z-index: 1;
  }
  .certificate-slider__item {
    height: 312px;
  }
  .certificate-section__content {
    max-width: none;
    padding: 0;
  }
  .certificate-section__content .box-text {
    padding: 0 130px 0 0;
  }
  .certificate-slider__arrows {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .slider-arrows .slick-arrow {
    width: 44px;
    height: 44px;
    min-width: 44px;
    padding: 12px;
  }
  .specialists-card {
    width: 209px;
  }
  .specialists-card__photo {
    height: 209px;
  }
  .specialists-card__body {
    height: calc(100% - 209px);
  }
  .specialists-card__name {
    font-size: 16px;
    line-height: 22px;
  }
  .specialists-card__list {
    font-size: 15px;
  }
  .results-card__photo {
    height: 230px !important;
  }
  .results-card__body {
    height: calc(100% - 230px);
  }
  .twentytwenty-before-label:before, .twentytwenty-after-label:before {
    font-size: 13px;
    padding: 3px 12px;
  }
  .author-section__bg {
    display: none;
  }
  .author-section__content {
    width: 100%;
    max-width: none;
    padding: 40px 24px;
  }
  .author-signature {
    font-size: 15px;
    line-height: 22px;
    position: relative;
    z-index: 1;
    padding: 8px 0 8px 75px;
    margin: 16px 0 0;
  }
  .author-signature::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    overflow: hidden;
    background: url("../img/author-photo.jpg") no-repeat center;
    background-size: cover;
    transform: translate(0, -50%);
  }
  .author-signature:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    left: -3px;
    top: 50%;
    border: 1px solid #CBAA65;
    width: 64px;
    height: 64px;
    transform: translate(0, -50%);
  }
  blockquote {
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 0 27px;
  }
  blockquote::before {
    font-size: 56px;
    line-height: 30px;
  }
  .sale-card {
    width: 209px;
  }
  .sale-card__img {
    height: 209px;
  }
  .sale-card__body {
    height: calc(100% - 209px);
  }
  .sale-card__name {
    font-size: 18px;
  }
  .sale-card__date {
    font-size: 13px;
    line-height: 18px;
    padding: 4px 12px;
  }
  .sale-card .box-text {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 12px;
  }
  .price {
    font-size: 17px;
    line-height: 22px;
  }
  .why-us-content__preview-item {
    width: 74px;
    height: 74px;
    min-width: 74px;
    margin: 0 6px 0 0;
  }
  .why-us-content__preview-item:last-child {
    margin: 0;
  }
  .subtitle-information {
    max-width: 170px;
    padding: 0 0 10px;
    font-size: 13px;
    line-height: 18px;
  }
  .why-us-slider h3 {
    margin: 12px 0 18px;
  }
  .why-us-slider .box-text {
    font-size: 15px;
    line-height: 22px;
  }
  .btn-all-services {
    margin: 20px auto 0;
  }
  .services-card {
    width: 209px;
    padding: 12px;
  }
  .services-card__img {
    height: 120px;
  }
  .services-card__body {
    height: calc(100% - 120px);
  }
  .services-card__name {
    font-size: 16px;
    line-height: 22px;
  }
  .services-card .box-text {
    font-size: 14px;
    line-height: 20px;
  }
  .services-card .price {
    font-size: 15px;
    line-height: 22px;
    margin: 8px 0 12px;
  }
  .tabs .tabs-link {
    font-size: 15px;
    min-width: 160px;
    padding: 3px;
  }
  .tabs .tabs-link__icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }
  .services-section {
    margin: 80px 0 90px;
  }
  .order-sm-1 {
    order: 1;
  }
  .home-section {
    padding: 16px 0;
  }
  .home-image {
    height: auto;
    margin: 0 0 12px;
  }
  .home-slider .box-text {
    margin: 0 0 42px;
    font-size: 15px;
    line-height: 21px;
  }
  .home-slider .btn {
    height: 44px;
  }
  header .btn-callback {
    display: none;
  }
  .header-top .container {
    align-items: flex-start;
  }
  .header-top__column .mail-link {
    display: flex;
  }
  .header-top .header-contacts {
    margin: 0 0 0 auto;
  }
  .header-top .header-contacts .mail-link {
    display: none;
  }
  .header-top .header-contacts .list-messenger {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0 0;
  }
  .header-top .list-messenger {
    display: none;
  }
  .header-top .location {
    font-size: 14px;
    line-height: 19px;
  }
}
@media only screen and (max-width: 440px) {
  .header-top {
    padding: 8px 0;
  }
  .header-top .contact-link {
    margin: 0 auto 0 0;
    font-size: 14px;
    line-height: 18px;
  }
  .header-top .contact-link:last-child {
    margin: 0;
  }
  .header-top .mail-link {
    display: none;
  }
  .header-top .location {
    font-size: 13px;
    line-height: 18px;
    max-width: 168px;
  }
  .header-top .schedule-text {
    font-size: 12px;
    line-height: 14px;
  }
  .contact-link__icon {
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin: 0 6px 0 0;
  }
  .btn-burger {
    width: 48px;
    height: 48px;
    min-width: 48px;
    padding: 16px 13px;
    margin: 0 14px 0 0;
  }
  .logo {
    max-width: 101px;
  }
  header .list-messenger li {
    margin: 0 8px 0 0;
  }
  header .list-messenger li:last-child {
    margin: 0;
  }
  header .list-messenger li a {
    width: 28px;
    height: 28px;
    min-width: 28px;
    padding: 7px;
  }
  .header-center {
    padding: 10px 0 14px;
  }
  .user-navigation__item {
    margin: 0 18px 0 0;
  }
  .user-navigation__item:last-child {
    margin: 0;
  }
  .user-navigation__link {
    width: 20px;
    height: 20px;
    min-width: 20px;
  }
  .home-section {
    padding: 14px 0;
  }
  .home-slider {
    padding: 14px 14px 32px;
  }
  .home-slider__avatar {
    width: 58px;
    height: 58px;
    min-width: 58px;
    margin: 0 0 16px;
  }
  .home-slider .box-text {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 32px;
  }
  .home-slider .btn {
    height: 40px;
  }
  .btn {
    height: 38px;
    font-size: 14px;
  }
  h1, .h1 {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 10px;
  }
  h2, .h2 {
    font-size: 26px;
    line-height: 34px;
    margin: 0 0 26px;
  }
  h3, .h3 {
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 14px;
  }
  .mb-40 {
    margin-bottom: 26px;
  }
  .m-150 {
    margin: 70px 0;
  }
  .services-section {
    margin: 70px 0;
  }
  .subtitle-text {
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 10px;
  }
  .subtitle-text::before {
    width: 14px;
    height: 14px;
    min-width: 14px;
    margin: 0 6px 0 0;
  }
  .tabs .tabs-link {
    min-width: 148px;
    font-size: 14px;
  }
  .services-card {
    width: 198px;
    padding: 8px;
  }
  .services-card__img {
    height: 110px;
  }
  .services-card__body {
    height: calc(100% - 110px);
    padding: 10px 0 0;
  }
  .services-card__name {
    font-size: 15px;
    line-height: 20px;
  }
  .services-card__row {
    margin: 0 0 6px;
  }
  .services-card .box-text {
    font-size: 13px;
    line-height: 18px;
  }
  .services-card .price {
    font-size: 14px;
    line-height: 20px;
    margin: 6px 0 10px;
  }
  .btn-all-services {
    margin: 18px auto 0;
    max-width: none;
    padding: 10px 20px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .why-us-content {
    padding: 16px;
  }
  .why-us-content__preview-item {
    width: 70px;
    height: 70px;
    min-width: 70px;
  }
  .why-us-content__head {
    margin: 0 0 38px;
  }
  .slider-arrows .slick-arrow {
    width: 42px;
    height: 42px;
    min-width: 42px;
    padding: 11px;
  }
  .slider-arrows .slick-next {
    margin: 0 0 0 18px;
  }
  .why-us-slider h3 {
    margin: 12px 0 14px;
  }
  .why-us-slider .box-text {
    font-size: 14px;
    line-height: 21px;
  }
  .sale-card {
    width: 198px;
  }
  .sale-card__img {
    height: 198px;
  }
  .sale-card__body {
    height: calc(100% - 198px);
  }
  .sale-card__name {
    font-size: 17px;
  }
}
@media only screen and (max-width: 330px) {
  .header-top .contact-link {
    font-size: 13px;
  }
  .user-navigation__item {
    margin: 0 10px 0 0;
  }
  .user-navigation__item:last-child {
    margin: 0;
  }
}